.inning-container {
  display: flex;
  flex-flow: column;
}

.inning-container > * {
  margin-bottom: 2px;
}

.static svg {
  display: block;
  padding-bottom: 5px;
}

.base-line.initial,
.base-line.did-not-reach {
  stroke: #888;
}

.base-line.interactive {
  stroke: #0c0;
}

.base-line.out {
  stroke: #f00;
  stroke-width: 2px;
}

.base-line.safe {
  stroke: #000;
  stroke-width: 2px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fielder-selector {
  font-size-adjust: 0.3;
}

.fielder-selector text {
  cursor: pointer;
}

.fielder-selector text:hover {
  font-weight: bold;
}

.base-path-diagram {
  font-size-adjust: 0.4;
}

.out-description, .out-indicator-text {
  font-size-adjust: 0.5;
  text-anchor: middle;
}

.base-line.interactive, .out-description {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
